.forgot-body {
    background: #F8F7FF !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.forgot-title {
    font-family: serif;
    font-size: 55px;
    color: black;
    margin-bottom: 20px;
    margin-top: -200px;
}

.forgot-subtitle {
    font-size: 20px;
}

.forgot-input {
    width: 450px;
    padding: 15px 25px;
    border-radius: 35px;
    border: 3px solid #e5d2fd;
    font-size: 18px;
    outline: none;
    margin-bottom: 25px;
}

.forgot-confirm-btn {
    background-color: #e5d2fd;
    color: white;
    padding: 12px 50px;
    border-radius: 30px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    display: block;
    margin: 0 auto;
}

.flash-msg {
    color: #ff4d4d;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 15px;
}

.confirm-main {
    width: 120px !important;
    margin-top: 10px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.popup-box {
    background-color: #e5d2fd;
    padding: 40px;
    border-radius: 25px;
    width: 550px;
    height: 400px;
    text-align: center;
    color: rgb(103, 103, 103);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.popup-box h2 {
    font-family: 'Serif', Georgia, serif;
    font-size: 30px;
    margin-bottom: 30px;
}

.question-display {
    background: #ceaaf9;
    color: rgb(69, 69, 69);
    padding: 12px;
    border-radius: 15px;
    margin: 30px 0;
    font-size: 14px;
    font-weight: bold;
}

.popup-input {
    border: 2px solid #ceaaf9 !important;
    margin-bottom: 30px;
}

.popup-confirm {
    background-color: #ceaaf9 !important;
    width: 120px !important;
}

.cancel-link {
    color: white;
    font-size: 12px;
    text-decoration: underline;
    opacity: 0.8;
}

.error-msg {
    color: #ff4d4d;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

input[type="password"].forgot-input {
    width: 450px;
    padding: 15px 25px;
    border-radius: 35px;
    border: 3px solid #ceaaf9; 
    font-size: 18px;
    outline: none;
    margin-bottom: 25px;
}

.reset-page .forgot-title {
    font-size: 55px;
    margin-top: -100px;
    margin-bottom: 40px;
}

.reset-page .forgot-subtitle {
    margin-top: -10px;
}

.reset-page input.forgot-input {
    width: 400px;
    border: 3px solid #ceaaf9;
    margin-bottom: 0px;
}

.reset-page .forgot-confirm-btn {
    display: block;
    margin-top: 40px;
    width: 290px;
}

.reset-page .password-check {
    margin-bottom: 20px;
}