body {
    display: flex;
    height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
    background: linear-gradient(150deg, #bb8dff, #5462be);
    font-family: 'Arial', sans-serif;
}

.signup {
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    border: 2px solid #ffffff00;
    padding: 40px; 
    width: 450px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    z-index: 1;
    position: relative;
    right: 0px;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.2);
}

.input-container {
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modern-input {
    width: 100%;
    padding: 12px 20px;
    border-radius: 25px;
    border: 2px solid #a986df;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 12px;
    outline: none;
    text-align: left;
}

.modern-input::placeholder {
    color: #9e9e9e;
    text-transform: uppercase;
}


.password-check {
    list-style-type: none;
    padding: 0;
    margin: -5px 0 15px 15px;
    width: 100%;
    text-align: left;
}

.password-check li {
    font-size: 11px;
    color: #5462be;
    margin-bottom: 2px;
}

.password-check li::before {
    content: "•";
    color: #a986df;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
}

.purple-btn {
    background-color: #a986df;
    color: #ffffff;
    padding: 12px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    box-sizing: border-box;
    display: block;
    width: 90px;
    transition: 0.3s;
    display: block;
    margin: 0 auto;
}

.purple-btn:hover {
    background-color: #8a66c0;
    transform: translateY(-2px);
}