<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='forgot.css') }}">
    </head>
<body class="forgot-body">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p class="error-msg">{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <h1 class="forgot-title">FORGOT PASSWORD</h1>
    <p class="forgot-subtitle">Please enter your email to reset the password</p>
    
    <form action="{{ url_for('forgot_password') }}" method="POST">
        <input type="email" name="email" placeholder="ENTER EMAIL" class="forgot-input" pattern=".*@student\.mmu\.edu\.my" required><br>
        <button type="submit" class="forgot-confirm-btn">CONFIRM</button>
    </form>

    {% if show_modal %}
    <div class="modal-overlay">
        <div class="verify-card">
            <a href="{{ url_for('forgot_password') }}" class="close-btn">&times;</a>
            
            <h1 class="verify-title">Check your email</h1>
            <p class="verify-subtitle">Code has been sent, check your email.<br>Enter the 5-digit code mentioned in the email</p>
            
            <form action="{{ url_for('verify_code') }}" method="POST">
                <div class="code-container">
                    <input type="text" name="d1" maxlength="1" class="code-box" required>
                    <input type="text" name="d2" maxlength="1" class="code-box" required>
                    <input type="text" name="d3" maxlength="1" class="code-box" required>
                    <input type="text" name="d4" maxlength="1" class="code-box" required>
                    <input type="text" name="d5" maxlength="1" class="code-box" required>
                </div>
                <button type="submit" class="verify-btn">Verify Code</button>
            </form>
            
            <p class="resend-text">Haven't got the code yet? <a href="#" style="color: white; text-decoration: underline;">RESEND CODE</a></p>
        </div>
    </div>
    {% endif %}
</body>
</html>