<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='forgot_password.css') }}">
    </head>
<body class="forgot-body">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p class="error-msg">{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <h1 class="forgot-title">FORGOT PASSWORD</h1>
    <p class="forgot-subtitle">Please enter your email to reset the password</p>
    
    <form action="{{ url_for('forgot_password') }}" method="POST">
        <input type="email" name="email" placeholder="ENTER EMAIL" class="forgot-input" pattern=".*@student\.mmu\.edu\.my" title="Please use your official MMU student email (@student.mmu.edu.my)" required><br>
        <button type="submit" class="forgot-confirm-btn">CONFIRM</button>
    </form>

    <br>
    <a href="{{ url_for('login') }}" style="color: black; text-decoration: underline; font-size: 14px;">Cancel and return to Login</a>
    
    {% if show_modal %}
    <div class="overlay">
        <div class="popup-box">
            <h2>Verify you are the owner</h2>
            <p>Please answer this question to verify that you are the owner of this user.</p>
            
            <div class="question-display">
                {{ question }}
            </div>

            <form action="{{ url_for('verify_secret') }}" method="POST">
                <input type="text" name="security_answer" placeholder="Enter Your Answer" class="modern-input popup-input" required>
                <button type="submit" class="purple-btn popup-confirm">CONFIRM</button>
            </form>
            <br>
            <a href="{{ url_for('forgot_password') }}" class="cancel-link">Cancel</a>
        </div>
    </div>
    {% endif %}
</body>
</html>