<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
        <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    </head>
<body>
    <div class="left-branding">
        <img src="{{ url_for('static', filename='SideHustle_logo4.png') }}" class="brand-logo" alt="Logo">
        <div>
            <h1>SideHustle</h1>
        </div>
    </div>
    <div class="right-login">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <p style="color: #ff4d4d; font-size: 13px; font-weight: bold; margin-bottom: 10px;">{{ message }}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}
        
        <h2>
            LOGIN
        </h2>
        <form action="{{ url_for('login') }}" method="POST">
            <div class="input-container">
                <input type="email" name="email" placeholder="EMAIL ADDRESS" class="modern-input" style="text-transform: lowercase;"  pattern=".*@student\.mmu\.edu\.my" title="Please use your official MMU student email (@student.mmu.edu.my)" required>
                <input type="password" name="password" placeholder="Password" class="modern-input" required>
            </div>

            <div class="forgot-container">
                <a href="{{ url_for('forgot_password') }}" class="forgot-link">FORGOT PASSWORD</a>
            </div>
            
            <button type="submit" class="purple-btn">LOGIN</button>
        </form>

        <p class="auth-box-footer">
            Don't have an account? <a href="{{ url_for('signup') }}" class="signup-btn-link">SIGN UP</a>
        </p>
    </div>
</body>
</html>