<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
        <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    </head>
    <body>
        <div class=signup>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p style="color: #ff4d4d; font-size: 13px; font-weight: bold; margin-bottom: 10px;">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            
            <h2>Create An Account</h2>
            <div class="input-container">
                <form action="{{ url_for('signup') }}" method="POST">
                    <input type="email" name="email" placeholder="MMU EMAIL ADDRESS" class="modern-input" pattern="^[a-zA-Z0-9._%+-]+@student\.mmu\.edu\.my$" style="text-transform: lowercase;" title="Please use your official MMU student email (@student.mmu.edu.my)" required>
                    <input type="text" name="username" placeholder="CREATE USERNAME" class="modern-input" required>
                    <input type="password" name="password" placeholder="CREATE PASSWORD" class="modern-input" required>
                    <ul class="password-check">
                        <li>At least 8 characters, 1 upper and 1 lowercase</li>
                        <li>Include a number or symbol</li>
                    </ul>
                    <input type="password" name="confirm_password" placeholder="CONFIRM PASSWORD" class="modern-input" required>
                    <select name="security_question" class="modern-input select-input" required>
                        <option value="" disabled selected>SELECT A SECURITY QUESTION</option>
                        <option value="In what city or town did your parents meet?">In what city or town did your parents meet?</option>
                        <option value="What was the first concert you ever attended?">What was the first concert you ever attended?</option>
                        <option value="What was the name of your first elementary school?">What was the name of your first elementary school?</option>
                        <option value="What city were you born in?">What city were you born in?</option>
                    </select>
                    <input type="text" name="security_answer" placeholder="ENTER YOUR ANSWER" class="modern-input" required>
                    
                    <button type="submit" class="purple-btn">SIGN UP</button>
                </form>
            </div>
            <p>Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
        </div>
    </body>
</html>