<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
    </head>
    <body>
        <div class=signup>
            <h2>Create An Account</h2>
            <div class="input-container">
                <form action="{{ url_for('signup') }}" method="POST">
                    <input type="email" name="email" placeholder="EMAIL ADDRESS" class="modern-input" required>
                    <input type="text" name="username" placeholder="CREATE USERNAME" class="modern-input" required>
                    <input type="password" name="password" placeholder="CREATE PASSWORD" class="modern-input" required>
                    <ul class="password-check">
                        <li>At least 8 characters, 1 upper and 1 lowercase</li>
                        <li>Include a number or symbol</li>
                    </ul>
                    <input type="password" name="confirm_password" placeholder="CONFIRM PASSWORD" class="modern-input" required>
                    <button type="submit" class="purple-btn">SIGN UP</button>
                </form>
            </div>
            <p>Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
        </div>
    </body>
</html>