<!DOCTYPE html>
<html>
    <head>
        <title>SideHustle Sign Up</title>
    </head>
    <body>
        <h2>Create an Account</h2>
        <form action="{{ url_for('signup') }}" method="POST">
            <input type="text" name="username" placeholder="Choose a Username" required><br><br>
            <input type="password" name="password" placeholder="Choose a Password" required><br><br>
            <button type="submit">Register</button>
        </form>
        <p>Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
    </body>
</html>